.item-footer {
    color: #8e8e93;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    white-space: normal;
}
.stars {
    font-size: 3rem;
    color: Gold;
    text-align: center;
}
.card_header_success {
    background-color: #4cd964;
    color: white
}
.card_header_danger {
    background-color: #ff3b30;
    color: white
}
.content_block_title {
    white-space: normal;
    line-height: 1.5em;
}