@media (max-width: 768px) {
    .container-nav {
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
    }
}
.stars {
    font-size: 2em;
    color: Gold;
}
.cycle_3d_touch {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    background-color: #ff3b30;
    border: #ff3b30 solid;
}
.progress-nav {
    height: 5px;
    border-radius: 0
}
.red_times {
    font-size: 40px;
    color: tomato;
    vertical-align: middle;
}
.green_check {
    font-size: 40px;
    color: mediumseagreen;
    vertical-align: middle;
}
.share_icon {
    font-size: 3em;
}