@media (max-width: 768px) {
    .container-nav {
        padding-right: 0px;
        padding-left: 0px;
        max-width: 100%;
    }
}
.stars {
    font-size: 2em;
    color: Gold;
}
.red_times {
    font-size: 40px;
    color: tomato;
    vertical-align: middle;
}
.green_check {
    font-size: 40px;
    color: mediumseagreen;
    vertical-align: middle;
}